.container{

    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}
 .calculator{
    
    height: 45vh;
    width: 20%;
    background-color:lightblue;
    padding: 10px;
    border-radius: 10px;

 }

 input{
    width: 98%;
    height: 50px;
    background-color: white;
    border: none;
    border-radius: 5px;
    margin-bottom: 5px;
    padding: 5px;
    
 }

 .keys{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 10px;
    padding: 10px;
border: none;
 }

 button{
    font-size: 1.2rem;
    border: none;
    border-radius: 5px;
    height: 2rem;

 }
 #btn:hover{
    background:rgb(58, 52, 52);
 }